# vim
.*.sw*

# binary output
/*_key.json

# faucet
/faucet/node_modules
/faucet/db
/faucet/transfer.log

# orchestration config files
/orchestration/data

# ctags
tags

# temp files
vim-markdown-preview.html
